<table class="child-data-table">
    <tr class="">
        <td>All Suspect Products:</td>
        <td>{{productList}}</td>
    </tr>
    <tr class="">
            <td>All PTs:</td>
            <td style="word-break: normal !important;">
            <pre class="pre-detailed-view">{{allPt}}</pre></td>
    </tr>
    <tr class="">
        <td>All Conmeds:</td>
        <td>{{conMeds}}</td>
    </tr>
    <tr class="">
            <td>Patient Med Hist:</td>
            <td style="word-break: normal !important;">
            <pre class="pre-detailed-view"><p>{{{patientMedHist}}}</p></pre></td>
    </tr>
    <tr class="">
            <td>Therapy Dates:</td>
            <td style="word-break: normal !important;">
            <pre class="pre-detailed-view">{{therapyDates}}</pre></td>
    </tr>
    <tr class="">
            <td>Dose Details:</td>
            <td style="word-break: normal !important;">
            <pre class="pre-detailed-view">{{doseDetails}}</pre></td>
    </tr>
</table>